name: "MacOS"

on:
  push:
  pull_request:

jobs:
  build-macos:
    name: ${{ matrix.os }} Build FreeOrion SDK
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-15-intel] # ToDo: fix boost for arm64 , macos-26]
    env:
      CMAKE_BUILD_PARALLEL_LEVEL: 1
      HOMEBREW_NO_AUTO_UPDATE: 1
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3
      - name: Configure
        run: |
          mkdir build
          cd build
          cmake -DCMAKE_XCODE_BUILD_SYSTEM=1 -DCMAKE_OSX_ARCHITECTURES=${{ matrix.os == 'macos-15-intel' && 'x86_64' || 'arm64' }} ..
      - name: Build
        run: |
          cd build
          cmake --build . --config RelWithDebInfo
      - name: Artifact
        uses: actions/upload-artifact@v4
        if: ${{ !startsWith(github.ref, 'refs/tags/v') }}
        with:
          name: MacOS SDK
          path: |
            build/FreeOrionSDK_*.tar.bz2
      - name: Prepare Release
        if: startsWith(github.ref, 'refs/tags/v')
        id: prepare-release-options
        run: |
          echo "release-name=$(git tag -ln --format '%(subject)' ${{ github.ref_name }})" >> $GITHUB_OUTPUT
      - uses: softprops/action-gh-release@v1
        name: Release
        if: startsWith(github.ref, 'refs/tags/v')
        with:
          name: ${{ steps.prepare-release-options.outputs.release-name }}
          draft: true
          files: |
            build/FreeOrionSDK_*.tar.bz2
          token: ${{ secrets.RELEASE_TOKEN }}
